
.content{
background-color:#eeeeee;
border:1px solid black;
margin:0.5rem;
display:grid;
grid-template-areas:
    'area1 area2';
gap:1rem;
text-align: left;
}

.content-image{
 grid-area:area1;
 }

h2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
font-size:1.5rem;
font-weight: bold;

}
@media screen and (max-width: 44rem){
.card{
  grid-column: span 12;
  }
}