.panel{
margin: 0.5rem;
padding: 0;
line-height: 2.5rem;
font-family: "Times New Roman", Times,serif;
font-size: 1rem;
background-color: #cde6c7;
border:1px solid black;
border-radius:2rem;
}
.accordian{
margin:0.5rem;
list-style:none;
padding:0;
}
.accordian__title{
color: #444444;
border: 1px #DADADA solid;
padding: 5px 10px;
border-radius: 1rem;
font-weight: bold;
cursor:pointer;
}
.accordian__item .accordian__title::after{
content:"+";
}

.accordian__item--open .accordian__title::after{
content:"-";
}
.accordian__item .accordian__content{
display:none;
}

.accordian__item--open accordian__content{
display:block;
}